name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DATASOURCE_NAME: ${{ secrets.DATASOURCE_NAME }}
      DATASOURCE_USERNAME: ${{ secrets.DATASOURCE_USERNAME }}
      DATASOURCE_PASSWORD: ${{ secrets.DATASOURCE_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRATION: ${{ secrets.JWT_EXPIRATION }}
      JWT_REFRESH_EXPIRATION: ${{ secrets.JWT_REFRESH_EXPIRATION }}
      SERVER_PORT: ${{ secrets.SERVER_PORT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Docker Compose
        run: docker compose version

      - name: Start database using Docker Compose
        run: docker compose up -d db

      - name: Wait for Postgres to be ready
        run: |
          echo "Waiting for Postgres..."
          for i in {1..15}; do
            docker exec $(docker ps -qf "name=db") pg_isready -U $DATASOURCE_USERNAME && break
            echo "Still waiting..."
            sleep 3
          done


      - name: Run Backend
        run: docker compose up -d authapi

      - name: Stop Docker Compose
        if: always()
        run: docker compose down